<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Meu primeiro Spring boot</h1>
        </header>
        <main>
            <p>MVC é o tipo de organização usado para classificar as pastas onde: <br>
                <br>
                M - model = é onde gerencia os dados e a lógica e também é a parte onde o banco de dados se conecta com o que esta sendo produzido.<br>
                V - view = de maneira simples, é onde fica toda parte visual do programa como telas e as imagens.<br>
                C - Controller = é a parte do código onde armazena o que o programa pede para o usuario pela view.<br>
            </p>
        </main>
    </body>
</html>
